/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background-color: black;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

nav {
  background-color: rgb(29, 29, 218);
}

#map {
  float: right;
  width: 550px;
  height: 450px;
  margin: 10px;
  border: solid black 5px;
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}

h1,
p,
h2 {
  color: white;
}

ul:not(.browser-default) > li {
  list-style-type: circle;
  text-align: center;
  list-style-position: inside;
  color: white;
}
<<<<<<< HEAD

.card {
  background-color: darkgray;
}

.row .col.s4 {
  width: 33%;
  border: whitesmoke solid 1px;
}

.cardThree {
  height: 105px;
}
