/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
  background-color: black;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

nav {
  background-color: rgb(29, 29, 218);
}

#add-city {
  width: 30%;
}

.searchBar {
background-color: white;
}

#map {
  float: right;
  width: 550px;
  height: 450px;
  margin-left: 10px;
  margin-top: 10px;
}

.dropdown-content {
  width: max-content !important;
  height: auto !important;
}

h1,
p,
h2 {
  color: white;
}

#results {
  font-size: 18px;
  margin-left: 10px;
}

ul:not(.browser-default) > li {
  list-style-type: circle;
  list-style-position: inside;
}

.facts {
  color: white;
  list-style: circle;
  text-align: center;
  list-style-type: circle;
}

.card {
  background-color: darkgray;
}

.row .col.s4 {
  width: 33%;
  border: whitesmoke solid 1px;
}

.cardThree {
  height: 105px;
}

.page-footer {
  padding-top: 0;
}

.footer {
   background-color: rgb(29, 29, 218);
}

.cont-list {
  color: white;
  text-align: left;
}

.footerList1 {
  text-align: left;
}

/* @media only screen and (min-width: 993px)
{.container {
  width: 80%
}} */